h1 {
    font-family: impact, serif;
    color:#0c1c14;
  font-size: 1cm;
}

body {
    text-align: center;
    background-image: url("back.png");
    background-repeat: no-repeat;
    background-size: cover;
}
