h1 {
    font-family: impact, serif;
    color:#0c1c14;
  font-size: 1.5cm;
}

body {
    text-align: center;
    background-image: url("back.png");
    background-repeat: no-repeat;
    background-size: cover;
}

img{
  height: 250px;
  width: 250px;
}
