h1 {
    font-family: impact, serif;
    color:#0c1c14;
  font-size: 1.5cm;
}

body {
    text-align: center;
    background: url("pong.png");
    background-repeat: no-repeat;
  }

img{
  height: 275px;
  width: 275px;
  border-radius: 25px;
}

 div{
  display: flex;
  justify-content: flex-start;
}

button{
  transition: all 0.25s ease-in-out;
  background-color: transparent;
  border-radius: 25px;
  margin-left: auto;
  margin: right 20px;
  height: 400px;
  width: 300px;
  margin-top: 20px;
}


button:hover {
  transform: scale(1.1);
}

p{
  font-family: impact, serif;
  color:#0c1c14;
  font-size: 30px;
}


.flex-container {
  display: flex;
  flex-direction: row; /* Flex items will be arranged horizontally */
  flex-wrap: wrap; /* Items will wrap to the next line if necessary */
  justify-content: space-between; /* Items are evenly spaced along the main axis */
  align-items: center; /* Items are centered along the cross axis */
  align-content: flex-start; /* Lines are aligned to the start of the container */
  }


u{
  color: #0c1c14;
}

a{
  color: transparent;
}




